*{
    margin: 0;
    padding: 0;
    
}

.main{
    width: 100%;
    background: url('images/jpeg.jpg');
    background-size: cover;
    background-position: center;
    height: 109vh;
}

.navbar{
    width: 1820px;
    height: 105px;
    margin: auto ;
}

.icon{
    width: 500px;
    float: left;
    height: 100px;
}

.logo{
    color: darkslategray;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    float: left ;
    padding-top: 10px;

}

.menu{
    width: 700px;
    float: left;
    height: 100px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    margin-left: 150px ;
    margin-top: 35px;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: beige;
    font-family: cursive;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}
ul li a:hover{
    color: chocolate;
}

.search{
    width: 330px;
    float: left;
    margin-left: 280px;
}

.srch{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(26, 25, 25);
    margin-top: 26px;
    color: aliceblue;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(22, 22, 22) ;
    border: 2px solid rgb(3, 3, 3);
    margin-top: 26px;
    color: white;
    font-size: 16px;
    
}

.btn:focus{
    outline: none;
}
.btn:hover{
    cursor: pointer;
}
.srch:focus{
    outline: none;
}

.srch:hover{
    cursor: pointer;
}

.content{
    width: 1800px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;

}
.content h1{
    color: black;
    font-family: cursive;
    font-size: 70px;
    padding: none;
    margin-top: 9%;
    letter-spacing: 2px;
}
p{
    color: black;
    font-family: cursive;
    font-size: 19px;
}
.form{
    width: 350px;
    height: 400px;
    background: transparent;
    border: 2px solid rgb(26, 24, 25);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px black;
    position: absolute;
    top: -20px;
    left: 1300px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
width: 350px;
font-family: cursive;
margin-bottom: 20px;
text-align: center;
color:rgb(0, 0, 0);
font-size: 30px;
}

.form input{
    width: 100%;
    height: 40px;
    margin: 5px;
    background: transparent;
    border-radius: 10px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    padding: 5px;
    font-size: 15px;
    color: whitesmoke;

}

.btrn{
    margin-top: 15px;
    margin-left: 5px;
    width: 100%;
    height: 40px;
    border: 2px solid rgb(26, 24, 25);
    outline: none;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: rgb(22, 20, 20);
    font-weight: 500;
    font-family: cursive;
    font-size: bold;

}
.btrn:hover{
    color: rgb(235, 231, 231);
    background: rgb(12, 12, 12);
    transition: 0.5s ease-in-out;
}

.btrn a{
    font-family: cursive;
    font-size: bold;
}

.form .link{
    font-family: cursive;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: black;
}

.form .link a:hover{
    color: red;
    transition: 0.4s ease-in-out;
}

.liw{
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

.icn a{
    text-decoration: none;
}


.icn ion-icon {
    margin-left: 25px;
    color: white;
    font-size: 40px;
    padding-left: 15px;
    padding-top: 5px;
}



.icn ion-icon:hover{
    color: blue;
    transition: 0.5s ease-in-out;
}

